<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./动画.css">
    <style>
        .box {
            width: 200px;
            height: 200px;
            background-color: burlywood;
            transition: all 2s;
            animation: wyh 2s linear;
        }
    </style>
</head>

<body>
    <div class="app">
        <!--使用vue自己写动画 绑定类名实现效果
             enter-active-class=''
            :duration {enter:1000,leave:500,}//设置动画过渡时间
             -->
        <button @click="flag=!flag">toggle</button>
        <transition name="custom-classes-transition"
            enter-active-class="animated tada"
            leave-active-class="animated bounceOutRight">
            <!-- <div class="box" v-if='flag'></div> -->
            <h1 v-if='flag'>我是好人</h1>
        </transition>
    </div>
    <script src="../vue.js"></script>
    <script>
        var app = new Vue({
            el: '.app',
            data: {
                flag: true,
            },
            methods: {

            },
        })
    </script>
</body>

</html>