.main {
    width: 100%;
    margin: 0 auto;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;

}

.header {
    padding: 0.1rem;
}

.header-list {
    display: flex;
    justify-content: space-between;
}

.header-list li {
    width: 1.12rem;
    height: 0.3rem;
    color: #666;
    border-radius: .20rem;
    text-align: center;
    line-height: 0.3rem;
}




.wrap{
    width: 100%;
    height: 5rem;
    border-radius: .2rem;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.wrap>ul{
    width: 72rem;
    height: 100%;
    margin-left: 0;
    /* display: flex;  */
}
.wrap>ul>li{
    width: 12rem;
    float: left;
    left: 0;
}
.wrap>ul>li>img{
    width: 100%;
}

.right,
.left {
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    background: purple;
    /* font-weight: 400; */
    opacity: 0.6;
    border-radius: 50%;
    font-size: 0.2rem;
    position: absolute;
    text-align: center;
    align-items: center;
    /* display: none; */
    transition: all 1s;
}

.right {
     left: -0.5rem;
     top: 50%;
   
    transform: translateY(-50%);
    /* transition: all 1s; */
}
.left{
    top: 50%;
    right: -0.5rem;
    /* transition: all 1s; */
    transform: translateY(-50%);
}
.right:hover{
    color: white;
}
.left:hover{
    color: white;
}
.shopList{
    display: flex;
    flex-wrap: wrap;
}
.goods{
    width: 2.2rem;
    height: 2.8rem;
    display: flex;
    flex-direction: column;
    margin: .05rem;
    padding: .05rem;
}
.goods-img{
    width: 2.2rem;
    height: 2.2rem;
}
.goods-img img{
    width: 100%;
    height: 100%;
}
.goods-title{
    width: 2.2rem;
    height: .21rem;
    cursor: pointer;
    font-size: 16px;
    color: #424242;
    
}
.price{
    display: flex;
    justify-content: space-between;
}